<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Animal</title>
</head>
<body>
    <h1>Add a New Animal</h1>
    <form method="POST" action="/animals">
        <label for="species">Species:</label>
        <input type="text" name="species" id="species">
        <br>
        <label for="extinct">Extinct:</label>
        <input type="checkbox" name="extinct" id="extinct">
        <br>
        <label for="location">Locaiton:</label>
        <input type="text" name="location" id="location">
        <br>
        <label for="lifeExpectancy">Life Expectancy:</label>
        <input type="text" name="lifeExpectancy" id="lifeExpectancy">
        <input type="submit" value="Create Animal" />
        <br>
        <button type="button"><a href="/animals" style="text-decoration: none; color: black;">Back</a></button>
    </form>
</body>
</html>